body {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	min-height: 100vh;
	background-color: var(--bg-color);

	&__inner {
		height: calc(100vh - var(--header-height));
	}
}

.main {
	overflow: hidden;
}