.field {
	display: block;
	width: 100%;

	&.error {
		.field__select {
			border-color: var(--color-red-light);
		}
	}

	&__label {
		display: block;
	}

	&__option {
		background-color: var(--inverted-bg-color);
		color: var(--inverted-primary-color);
	}

	&__select {
		display: block;
		width: 100%;
		padding: 5px 10px;
		border: 1px solid var(--secondary-color);
		background-color: var(--inverted-bg-color);
		color: var(--inverted-primary-color);

		&:focus {
			border-color: transparent;
			outline: 1px solid var(--primary-color);
		}

		&:disabled {
			cursor: default;
			border-color: var(--color-neutral);
			opacity: 1;
			appearance: none;

			&:focus {
				outline: none;
			}
		}
	}
}