.field {
	display: block;
	width: 100%;

	&.error {
		.field__select {
			border-color: var(--color-red-light);
		}
	}

	&.horizontal {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto;
		column-gap: 5px;

		.field {
			&__label {
				grid-column: 1;
				grid-row: 1;
				align-self: center;
			}

			&__select {
				grid-column: 2;
				grid-row: 1;
			}

			&__error {
				grid-column: 1 / span 2;
				grid-row: 2;
			}
		}
	}
	&.vertical {
		.field__select {
			margin-top: 2px;
		}
	}

	&__label {
		display: block;
	}

	&__option {
		background-color: var(--inverted-bg-color);
		color: var(--inverted-primary-color);
	}

	&__select {
		display: block;
		width: 100%;
		padding: 5px 10px;
		border: 1px solid var(--secondary-color);
		background-color: var(--inverted-bg-color);
		color: var(--inverted-primary-color);

		&:focus {
			border-color: transparent;
			outline: 1px solid var(--primary-color);
		}

		&:disabled {
			cursor: default;
			border-color: var(--color-neutral);
			opacity: 1;
			appearance: none;

			&:focus {
				outline: none;
			}
		}
	}
}