.field {
	display: block;
	width: 100%;

	&.error {
		.field__input {
			border-color: var(--color-red-light);
		}
	}

	&__label {
		display: block;
	}

	&__input {
		display: block;
		width: 100%;
		padding: 6px 10px;
		border: 1px solid var(--secondary-color);
		background-color: var(--inverted-bg-color);
		color: var(--inverted-primary-color);

		&:focus {
			border-color: transparent;
			outline: 1px solid var(--primary-color);
		}

		&:read-only {
			cursor: default;
			border-color: var(--color-neutral);

			&:focus {
				outline: none;
			}
		}
	}
}